    <html ng-app="moduloTempos">
    <head>
        <meta charset="utf-8" />
        <title>Lista de Tempos</title>
        <script src="../lib/js/angular.js"></script>
        <script src="../lib/js/listaTemposAngular.js"></script>
        <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body ng-controller="ControllerTempos">
    <div class="jumbotron" ng-init="fnDataRegressivos()">
        <div class="text-center">
            <h2>{{nomeAppLista}}</h2>
        </div>	
    </div>
    <div style="margin-left: 5%; height: 10px;" >
        <div style="float: left;">
            <label> Data Plano de Teste Regressivo </label>
            <br/>
            <select ng-model="d.p4" ng-change="fnTempos(d.p4)">
                <option ng-repeat="d in dias" id="{{d.p4}}">{{d.p4}}</option>
            </select>
            <br/>
            <table class="table table-bordered table-inverse">
                <thead>
                <th class="text-center">Caso</th>
                <th class="text-center">Demanda</th>
                <th class="text-center">Estimado (min.)</th>
                <th class="text-center">Realizado (min.)</th>
                <th class="text-center">Diferença (min.)</th>
                <th class="text-center">% Variação</th>
                <th class="text-center">Total Estimado (horas)</th>
                <th class="text-center">Total Realizado (horas)</th>
                </thead>
                <tbody>
                <tr ng-repeat="t in tempos">
                    <td class="text-center" id="{{t.caso}}">{{t.caso}}</td>
                    <td class="text-center" id="{{t.tkt}}">{{t.tkt}}</td>
                    <td class="text-center" id="{{t.est}}">{{t.est}}:00</td>
                    <td class="text-center" id="{{t.real}}">{{t.real}}:00</td>
                    <td class="text-center">{{t.real - t.est}}:00</td>
                    <td class="text-center">{{t.percent | limitTo:limitTempo}} % </td>
                    <td class="text-center">{{(t.totalEst)/60 | limitTo:limitTempo}}</td>
                    <td class="text-center">{{(t.totalReal)/60 | limitTo:limitTempo}}</td>
                </tr>
                </tbody>
            </table>
            </div>
            </div>
        
    </body>
    </html>